body{
  background: black;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'text';
  src: url('./fonts/Kulim_Park/KulimPark-Regular.ttf');
}

@font-face {
  font-family: 'text2';
  src: url('./fonts/Kulim_Park/KulimPark-Light.ttf');
}

@font-face {
  font-family: 'title';
  src: url('./fonts/Jura/static/Jura-Bold.ttf');
}

@font-face {
  font-family: 'title2';
  src: url('./fonts/Jura/static/Jura-Light.ttf');
}

body::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-track { background: #f3f3f3; }
body::-webkit-scrollbar-thumb {
  background: rgba(15, 15, 15, 0.405);
  border-radius: 20px;
}

@import 'techdev';
@import 'navbar';
@import 'about';
@import 'skills';
@import 'work';
@import 'footer';